@page "/LookEach/BlogDetail"
<PageTitle>LookEach - Chi Tiết Blog</PageTitle>

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2></h2>
            <ul>
                <li><a href="/">Trang Chủ</a></li>
                <li>Chi Tiết Blog</li>
            </ul>
        </div>
    </div>
</div>


<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc">
                    <div class="article-image">
                        <img src="assets/img/blog/img1.jpg" alt="image">
                    </div>
                    <div class="article-content">
                        <div class="entry-meta">
                            <ul>
                                <li>
                                    <i class="bx bx-folder-open"></i>
                                    <span>Category</span>
                                    <a href="#">Thời Trang 2-hand</a>
                                </li>
                                <li>
                                    <i class="bx bx-group"></i>
                                    <span>View</span>
                                    <a href="#">813,454</a>
                                </li>
                                <li>
                                    <i class="bx bx-calendar"></i>
                                    <span>Last Updated</span>
                                    <a href="#">01/14/2021</a>
                                </li>
                            </ul>
                        </div>
                        <h3>Sàn thương mại điện tử second-hand để phát triển cửa hàng - doanh nghiệp</h3>
                        <p>
                            Những người không biết theo đuổi thú vui bằng lý trí là những người phải chịu nhiều đau khổ. Tôi sẽ không tiếp tục vì nó không phải
                            những thời điểm như vậy không bao giờ xảy ra, khi vất vả và đau đớn là những nỗi đau lớn lao,
                            sự hấp thụ sẽ theo sau.
                        </p>
                        <blockquote class="wp-block-quote">
                            <p>
                                Bản thân câu chuyện đã rất đau đớn và sẽ có phần hấp dẫn sau đó, nhưng lần này tôi sẽ cho nó
                                Họ đã xảy ra với một số lao động và đau đớn lớn lao. Đi đến chi tiết nhỏ nhất, ai là của chúng ta?
                            </p>
                        </blockquote>
                        <p>
                            Thực hiện bất kỳ loại công việc nào, ngoại trừ việc nó có thể mang lại lợi ích nào đó. Hoặc về nhà
                            Anh đổ lỗi cho nỗi đau nhưng vì không bao giờ có những lúc như công việc và
                            anh ta tìm kiếm niềm vui lớn lao nào đó thông qua nỗi đau.
                        </p>
                        <ul class="wp-block-gallery columns-3">
                            <li class="blocks-gallery-item">
                                <figure>
                                    <img src="assets/img/blog/img2.jpg" alt="image">
                                </figure>
                            </li>
                            <li class="blocks-gallery-item">
                                <figure>
                                    <img src="assets/img/blog/img3.jpg" alt="image">
                                </figure>
                            </li>
                            <li class="blocks-gallery-item">
                                <figure>
                                    <img src="assets/img/blog/img4.jpg" alt="image">
                                </figure>
                            </li>
                        </ul>
                        <h3>Bốn yếu tố chính mà chúng tôi cung cấp:</h3>
                        <ul class="features-list">
                            <li><i class="bx bx-badge-check"></i> Kỹ năng khoa học để đạt được kết quả tốt hơn</li>
                            <li><i class="bx bx-badge-check"></i> Kỹ năng giao tiếp để liên lạc</li>
                            <li><i class="bx bx-badge-check"></i> Cơ hội tổng quan về nghề nghiệp có sẵn</li>
                            <li><i class="bx bx-badge-check"></i> Một môi trường làm việc tốt cho công việc</li>
                        </ul>
                        <h3>Tạo tâm trạng thông qua thời trang 2-hand</h3>
                        <p>
                            Điều rất quan trọng là khách hàng phải chú ý đến mức lương của khách hàng
                            Họ đã xảy ra với một số lao động và đau đớn lớn lao. Đi đến chi tiết nhỏ nhất, ai là của chúng ta?
                            thực hiện bất kỳ loại công việc nào, ngoại trừ việc nó có thể mang lại lợi ích nào đó. Hoặc về nhà
                            Anh đổ lỗi cho nỗi đau nhưng vì không bao giờ có những lúc như công việc và
                            anh ta tìm kiếm niềm vui lớn lao nào đó thông qua nỗi đau.
                        </p>
                        <h3>Sự trỗi dậy của tiếp thị và tại sao bạn cần nó</h3>
                        <p>
                            Điều rất quan trọng là khách hàng phải chú ý đến mức lương của khách hàng
                            Họ đã xảy ra với một số lao động và đau đớn lớn lao. Đi đến chi tiết nhỏ nhất, ai là của chúng ta?
                        </p>
                    </div>
                    <div class="article-footer">
                        <div class="article-tags">
                            <span><i class="bx bx-purchase-tag"></i></span>
                            <a href="#">Thời trang</a>,
                            <a href="#">Second-hand</a>
                        </div>
                        <div class="article-share">
                            <ul class="social">
                                <li><span>Chia Sẻ:</span></li>
                                <li>
                                    <a href="#" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="instagram" target="_blank">
                                        <i class="bx bxl-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="xton-post-navigation">
                        <div class="prev-link-wrapper">
                            <div class="info-prev-link-wrapper">
                                <a href="#">
                                    <span class="image-prev">
                                        <img src="assets/img/blog/img5.jpg" alt="image">
                                        <span class="post-nav-title">Prev</span>
                                    </span>
                                    <span class="prev-link-info-wrapper">
                                        <span class="prev-title">Tặng voucher giảm 30% cho đầu tháng 6/2024</span>
                                        <span class="meta-wrapper">
                                            <span class="date-post">21-05-2024</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="next-link-wrapper">
                            <div class="info-next-link-wrapper">
                                <a href="#">
                                    <span class="next-link-info-wrapper">
                                        <span class="next-title">Xu hướng thương mại điện tử mới nhất: Sự gia tăng...</span>
                                        <span class="meta-wrapper">
                                            <span class="date-post">19-05-2024</span>
                                        </span>
                                    </span>
                                    <span class="image-next">
                                        <img src="assets/img/blog/img6.jpg" alt="image">
                                        <span class="post-nav-title">Next</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="comments-area">
                        <h3 class="comments-title">2 Bình Luận:</h3>
                        <ol class="comment-list">
                            <li class="comment">
                                <article class="comment-body">
                                    <footer class="comment-meta">
                                        <div class="comment-author vcard">
                                            <img src="assets/img/user1.jpg" class="avatar" alt="image">
                                            <b class="fn">John Jones</b>
                                            <span class="says">says:</span>
                                        </div>
                                        <div class="comment-metadata">
                                            <a href="#">
                                                <span>10:59 07/06/2024</span>
                                            </a>
                                        </div>
                                    </footer>
                                    <div class="comment-content">
                                        <p>
                                            Lorem Ipsum đã trở thành văn bản giả tiêu chuẩn của ngành kể từ khi
                                            Những năm 1500, khi một nhà in vô danh lấy một loại bếp và ghép nó lại
                                            làm một loại mẫu.
                                        </p>
                                    </div>
                                    <div class="reply">
                                        <a href="#" class="comment-reply-link">Trả Lời</a>
                                    </div>
                                </article>
                                <ol class="children">
                                    <li class="comment">
                                        <article class="comment-body">
                                            <footer class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <img src="assets/img/user2.jpg" class="avatar" alt="image">
                                                    <b class="fn">Steven Smith</b>
                                                    <span class="says">says:</span>
                                                </div>
                                                <div class="comment-metadata">
                                                    <a href="#">
                                                        <span>10:59 07/06/2024</span>
                                                    </a>
                                                </div>
                                            </footer>
                                            <div class="comment-content">
                                                <p>
                                                    LLorem Ipsum đã trở thành văn bản giả tiêu chuẩn của ngành kể từ khi
                                                    Những năm 1500, khi một nhà in vô danh lấy một loại bếp và ghép nó lại
                                                    làm một loại mẫu.
                                                </p>
                                            </div>
                                            <div class="reply">
                                                <a href="#" class="comment-reply-link">Thích</a>
                                            </div>
                                        </article>
                                    </li>
                                </ol>
                            </li>

                        </ol>
                        <div class="comment-respond">
                            <form class="comment-form">

                                <p class="comment-form-comment">
                                    <label>Bình Luận</label>
                                    <textarea name="comment" id="comment" cols="45" placeholder="Bình luận..."
                                              rows="5" maxlength="65525" required="required"></textarea>
                                </p>
                                <p class="comment-form-cookies-consent">
                                    <input type="checkbox" value="yes" name="wp-comment-cookies-consent"
                                           id="wp-comment-cookies-consent">
                                    <label for="wp-comment-cookies-consent">
                                        Lưu tên, email và trang web của tôi vào đây
                                        trình duyệt cho lần bình luận tiếp theo của tôi.
                                    </label>
                                </p>
                                <p class="form-submit">
                                    <input type="submit" name="submit" id="submit" class="submit"
                                           value="Đăng Bình Luận">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <aside class="widget-area">
                    <section class="widget widget_search">
                        <form class="search-form">
                            <label>
                                <span class="screen-reader-text">Search for:</span>
                                <input type="search" class="search-field" placeholder="Search...">
                            </label>
                            <button type="submit"><i class="bx bx-search-alt"></i></button>
                        </form>
                    </section>
                    <section class="widget widget_xton_posts_thumb">
                        <h3 class="widget-title">Bài Viết Phổ Biến</h3>
                        <article class="item">
                            <a href="#" class="thumb">
                                <span class="fullimage cover bg1" role="img"></span>
                            </a>
                            <div class="info">
                                <span>10-05-2024</span>
                                <h4 class="title usmall"><a href="#">Sàn thương mại điện tử second-hand để phát triển...</a></h4>
                            </div>
                            <div class="clear"></div>
                        </article>
                        <article class="item">
                            <a href="#" class="thumb">
                                <span class="fullimage cover bg2" role="img"></span>
                            </a>
                            <div class="info">
                                <span>10-05-2024</span>
                                <h4 class="title usmall">
                                    <a href="#">Tặng voucher giảm 30% cho đầu tháng 6/2024</a>
                                </h4>
                            </div>
                            <div class="clear"></div>
                        </article>
                        <article class="item">
                            <a href="#" class="thumb">
                                <span class="fullimage cover bg3" role="img"></span>
                            </a>
                            <div class="info">
                                <span>10-05-2024</span>
                                <h4 class="title usmall">
                                    <a href="#">Xu hướng thương mại điện tử mới nhất: Sự gia tăng...</a>
                                </h4>
                            </div>
                            <div class="clear"></div>
                        </article>
                    </section>
                    <section class="widget widget_categories">
                        <h3 class="widget-title">Loại Bài Viết</h3>
                        <ul>
                            <li><a href="#">Ý Tưởng <span class="post-count">(03)</span></a></li>
                            <li><a href="#">Voucher <span class="post-count">(05)</span></a></li>
                            <li><a href="#">2-Hand <span class="post-count">(10)</span></a></li>
                            <li><a href="#">Dịch Vụ <span class="post-count">(01)</span></a></li>
                        </ul>
                    </section>
                    <section class="widget widget_tag_cloud">
                        <h3 class="widget-title">LookEach Tags</h3>
                        <div class="tagcloud">
                            <a href="#">2-Hand <span class="tag-link-count"> (3)</span></a>
                            <a href="#">Thời trang <span class="tag-link-count"> (3)</span></a>
                            <a href="#">Thiết kế <span class="tag-link-count"> (2)</span></a>
                        </div>
                    </section>
                    <section class="widget widget_instagram">
                        <h3 class="widget-title">Instagram</h3>
                        <ul>
                            <li>
                                <a href="#" class="d-block">
                                    <img src="assets/img/blog/img1.jpg" alt="image">
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-block">
                                    <img src="assets/img/blog/img2.jpg" alt="image">
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-block">
                                    <img src="assets/img/blog/img3.jpg" alt="image">
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-block">
                                    <img src="assets/img/blog/img4.jpg" alt="image">
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-block">
                                    <img src="assets/img/blog/img5.jpg" alt="image">
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-block">
                                    <img src="assets/img/blog/img6.jpg" alt="image">
                                </a>
                            </li>
                        </ul>
                    </section>
                    <section class="widget widget_contact">
                        <div class="text">
                            <div class="icon">
                                <i class="bx bx-phone-call"></i>
                            </div>
                            <span>LookEach</span>
                            <a href="tel:+098798768753">+0987-9876-8753</a>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
</section>


@code {

}
