@page "/LookEach/Blogs"
<PageTitle>LookEach - Blogs</PageTitle>

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2></h2>
            <ul>
                <li><a href="/">Trang Chủ</a></li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
</div>


<section class="blog-area ptb-100">
    <div class="container">
        <div class="blog-items">
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="/LookEach/BlogDetail">
                            <img src="assets/img/blog/img1.jpg" alt="image">
                        </a>
                        <div class="date">
                            <span>29-05-2024</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <span class="category">Ý Tưởng</span>
                        <h3>
                            <a href="/LookEach/BlogDetail">Sàn thương mại điện tử second-hand để phát triển cửa hàng - doanh nghiệp</a>
                        </h3>
                        <a href="/LookEach/BlogDetail" class="details-btn">Xem Chi Tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="/LookEach/BlogDetail">
                            <img src="assets/img/main-banner3.jpg" alt="image">
                        </a>
                        <div class="date">
                            <span>29-05-2024</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <span class="category">Voucher</span>
                        <h3><a href="/LookEach/BlogDetail">Tặng voucher giảm 30% cho đầu tháng 6/2024</a></h3>
                        <a href="/LookEach/BlogDetail" class="details-btn">Xem Chi Tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="/LookEach/BlogDetail">
                            <img src="assets/img/blog/img3.jpg" alt="image">
                        </a>
                        <div class="date">
                            <span>29-05-2024</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <span class="category">Tại sao lại chọn LookEach?</span>
                        <h3><a href="/LookEach/BlogDetail">Xu hướng thương mại điện tử mới nhất: Sự gia tăng...</a></h3>
                        <a href="/LookEach/BlogDetail" class="details-btn">Xem Chi Tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="/LookEach/BlogDetail">
                            <img src="assets/img/blog/img1.jpg" alt="image">
                        </a>
                        <div class="date">
                            <span>29-05-2024</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <span class="category">Ý Tưởng</span>
                        <h3>
                            <a href="/LookEach/BlogDetail">Sàn thương mại điện tử second-hand để phát triển cửa hàng - doanh nghiệp</a>
                        </h3>
                        <a href="/LookEach/BlogDetail" class="details-btn">Xem Chi Tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="/LookEach/BlogDetail">
                            <img src="assets/img/main-banner3.jpg" alt="image">
                        </a>
                        <div class="date">
                            <span>29-05-2024</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <span class="category">Voucher</span>
                        <h3><a href="/LookEach/BlogDetail">Tặng voucher giảm 30% cho đầu tháng 6/2024</a></h3>
                        <a href="/LookEach/BlogDetail" class="details-btn">Xem Chi Tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="/LookEach/BlogDetail">
                            <img src="assets/img/blog/img3.jpg" alt="image">
                        </a>
                        <div class="date">
                            <span>29-05-2024</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <span class="category">Tại sao lại chọn LookEach?</span>
                        <h3><a href="/LookEach/BlogDetail">Xu hướng thương mại điện tử mới nhất: Sự gia tăng...</a></h3>
                        <a href="/LookEach/BlogDetail" class="details-btn">Xem Chi Tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="/LookEach/BlogDetail">
                            <img src="assets/img/blog/img1.jpg" alt="image">
                        </a>
                        <div class="date">
                            <span>29-05-2024</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <span class="category">Ý Tưởng</span>
                        <h3>
                            <a href="/LookEach/BlogDetail">Sàn thương mại điện tử second-hand để phát triển cửa hàng - doanh nghiệp</a>
                        </h3>
                        <a href="/LookEach/BlogDetail" class="details-btn">Xem Chi Tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="/LookEach/BlogDetail">
                            <img src="assets/img/main-banner3.jpg" alt="image">
                        </a>
                        <div class="date">
                            <span>29-05-2024</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <span class="category">Voucher</span>
                        <h3><a href="/LookEach/BlogDetail">Tặng voucher giảm 30% cho đầu tháng 6/2024</a></h3>
                        <a href="/LookEach/BlogDetail" class="details-btn">Xem Chi Tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grid-item">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="/LookEach/BlogDetail">
                            <img src="assets/img/blog/img3.jpg" alt="image">
                        </a>
                        <div class="date">
                            <span>29-05-2024</span>
                        </div>
                    </div>
                    <div class="post-content">
                        <span class="category">Tại sao lại chọn LookEach?</span>
                        <h3><a href="/LookEach/BlogDetail">Xu hướng thương mại điện tử mới nhất: Sự gia tăng...</a></h3>
                        <a href="/LookEach/BlogDetail" class="details-btn">Xem Chi Tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
